.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30rem;
  height: 85vh;
}

.about-flex-left {
  flex: 1;
}

.about-flex-left p {
  margin: 10rem 0rem;
}

.about-flex-1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.about-column {
  display: flex;
  flex-direction: column;
}

.about-column h3 {
  margin: 5rem 0rem;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 20rem;
  padding-top: 70rem;
}

.about-row img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
}

.about-banner {
  padding: 25rem 2rem;
}

.about-banner h3 {
  color: grey;
}

.about-banner-text-margins {
  margin: 0rem 10rem;
}

.about-dark-bg {
  background-color: #222322;
}

.about-textcard {
  margin: 30rem 0rem;
}

/* TextCard Specific Properties */
.about-row .text-card_container {
  margin: 0rem 15rem;
  min-width: 280rem;
}

.about-row .text-card-header_container-img {
  display: none;
}

.about-row .text-card-header_container {
  white-space: nowrap;
}

.about-row ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-row li {
  font-weight: 300;
  color: var(--text);
  font-size: clamp(18rem, 2.5vw, 20rem);
}

/* Timeline Container */

.timeline_container {
  padding: 100rem 0rem;
}
