.btn {
  display: block;
  background: var(--primary-green);

  color: white;
  font-size: clamp(20rem, 2.5vw, 25rem);
  font-weight: 600;

  border: none;
  margin: 10rem;
  padding: 10rem 40rem;
  border-radius: 10px;
  height: 60rem;

  box-shadow: var(--ui-shadow);

  cursor: pointer;
}

.btn:hover {
  transform: scale(105%);
}
