@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Variables */
:root {
  /* fonts */
  --font-family: 'Montserrat', sans-serif;
  font-size: 6.25%;
  /* could import gradients here */

  /* commonly used colors */
  --primary-green: #8cdc94;
  --primary-yellow: #FDD888;
  --primary-red: #E98C79;
  --error-red: #f95f5f;
  --text: #3c403d;
  --color-bg: #fff
  --white: #fff;
  --background-grey: #f7f7f9;
  --grey: #a0a0a0;
  --pending-grey: #0000000a;
  --footer-shadow: #011f3f1a;

  /* shadow utilities */
  --ui-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --color-bg: #18191A;
  --text: #fff;
}