@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Variables */
:root {
  /* fonts */
  --font-family: 'Montserrat', sans-serif;
  font-size: 6.25%;
  /* could import gradients here */

  /*light mode defaults */
  --text: #3c403d;
  --color-bg: #fff;
  --footer-bg: #18191a;
  --card-bg: #fff;
  --card-header: #18191a;

  /* commonly used colors */
  --primary-green: #8cdc94;
  --primary-darkGreen: #5b9c62;
  --primary-yellow: #fdd888;
  --primary-red: #e98c79;
  --error-red: #f79d9d;
  --white: #fff;
  --background-grey: #f7f7f9;
  --grey: #a0a0a0;
  --pending-grey: #0000000a;
  --footer-shadow: #011f3f1a;

  /* shadow utilities */
  --ui-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* IOS & Firefox support  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[data-theme='dark'] {
  --color-bg: #18191a;
  --text: #fff;
  --footer-bg: #2c2e30;
  /* two tone cards */
  --card-bg: #2c2e30;
  --card-header: #4d4d4da1;
}
