.projects-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30rem;
}

.projects-card_container {
  display: grid;
  height: 50vh;
  gap: 20rem;
  padding: 0em 30em;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70rem;
  margin-bottom: 70rem;
}

@media screen and (max-width: 1024px) {
  .TLDR-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
  .projects-card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
