.projects-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30rem;
  height: 85vh;
}

.projects-flex img {
  height: 50vh;
  width: 50vh;
}
